/* Estilo para o container das partículas */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Cor de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* Para que seu conteúdo fique sobre as partículas */
.main {
    width: auto;
    height:70%;
    aspect-ratio: 9/16;
    background: rgba(200, 200, 200, 0,5);
}
