/* Estilo para o container das partículas */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Cor de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* Para que seu conteúdo fique sobre as partículas */
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 70%;
    aspect-ratio: 9/16;
    background-color: transparent;
    border: 3px dashed blue;
    border-radius: 5px;
    box-shadow: 4px 4px 5px write
    -4px -4px 5px write;
}
