<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clique</title>
    <!-- Carregando CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="particles-js"></div>

    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>

    <!-- Carregando JavaScript externo -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
