<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Passa tempo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Div container para as partículas -->
    <div id="particles-js"></div>

    <div class="main"></div>
    
    <!-- Script do Particles.js -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>

        particlesJS.load('particles-js', "{{ url_for('static', filename='particles.json') }}", function() {
            console.log('particles.json loaded');
        });
        
    </script>
</body>
</html>
